
#contenedorEncabezado{	
	height: 150px;
	margin: 10px;	
}

#logo{
	width: 150px;
	heigth: 150px;
	float: left;
}

#contenedor{
	overflow: hidden;
}

#lineaDivisora{
	width: 100%;
	background-color: #3333CC;
}

